.world {
  background-image: url('/world.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.button-gradient {
  background: linear-gradient(97.23deg, #067090 -5.85%, #2a85a0 41.65%, #ffffff 319.54%);
}

.animate-fade-out {
  animation: fadeOut 0.5s forwards;
  background-image: linear-gradient(273.79deg, #ffffff -48.65%, #067090 151.85%);
  background-clip: text;
  -webkit-background-clip: text;
  position: absolute;
}

.animate-fade-in {
  animation: fadeIn 0.5s forwards;
  background-image: linear-gradient(273.79deg, #ffffff -48.65%, #067090 171.85%);
  background-clip: text;
  -webkit-background-clip: text;
  position: absolute;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    transform: translateY(0px);
  }
  100% {
    opacity: 0;
    transform: translateY(-10px);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.integration-cell {
  width: 100px;
  height: 100px;
  border-radius: 10px;
}

.integration-cell-1 {
  background-color: #071a43;
  border: 1px solid #00d0bf;
}

.integration-cell-2 {
  background-color: #080e3b;
  border: 1px solid #073354;
}

.integration-cell-3 {
  background-color: #090c27;
  border: 1px solid #00d0bf;
}

.integration-text-container {
  background: radial-gradient(rgba(0, 9, 33, 1) 30%, rgba(0, 0, 0, 0) 70%);
}

